recursive-include lavis/configs *.yaml *.json
recursive-include lavis/projects *.yaml *.json

recursive-exclude lavis/datasets/download_scripts *
recursive-exclude lavis/output *

include requirements.txt
include lavis/models/clip_models/bpe_simple_vocab_16e6.txt.gz
