contexttimer
decord>=0.6.0
einops>=0.4.1
fairscale==0.4.4
ftfy
iopath
ipython
omegaconf>=2.1.2
opencv-python==4.5.5.64
opendatasets
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
timm==0.4.12
torch==1.10.0
torchvision==0.11.1
setuptools==59.5.0
tqdm
webdataset
wheel
torchtext==0.11.0
albumentations==0.4.3
diffusers
pudb==2019.2
invisible-watermark
imageio==2.9.0
imageio-ffmpeg==0.4.2
pytorch-lightning==1.4.2
test-tube>=0.7.5
streamlit>=0.73.1
torch-fidelity==0.3.0
transformers==4.19.2
torchmetrics==0.6.0
kornia==0.6
-e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
-e git+https://github.com/openai/CLIP.git@main#egg=clip
