contexttimer
decord>=0.6.0
einops>=0.4.1
fairscale==0.4.4
ftfy
iopath
ipython
omegaconf>=2.1.2
opencv-python>=4.5.5
opendatasets
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
streamlit
timm==0.4.12
torch==1.10.0
torchvision==0.11.1
tqdm
transformers==4.15.0
webdataset
wheel
